* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

body {
    background-image: url(./images/bg.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214; 
}

header div {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, green 0%, blue 100%);

    border-radius: 50%;
    display: flex;
    padding: 4px;
    transition: transform .3;
    animation-delay: 1s;



    
}

header div:hover {
    transform: scale(1.1);
}



header {
    padding-top: 32px;
    height: 150px;

}

header img {
    width: 100%;
    border-radius: 50%;
}

main {
    max-width: 580px;
    width: 90%;
    margin: 32px auto;

    display: grid;
    gap: 24px;  /* espaço de 24px de cada espaço "Jogos/Streamers/Redes*/

}

main section {
    animation: fromBottom .7s;

}





main section:nth-child(1) {
    animation-delay: .0s;
}

main section:nth-child(2) {
    animation-delay: .4s;
}

main section:nth-child(3) {
    animation-delay: .8s;
}

section {  /*cartões */
    color: white;
    background-image: linear-gradient(90deg, green 0%, blue 100%);  /* várias cores */
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2 {
    letter-spacing: -0.47;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    margin-top: 24px;

}


section ul li {
    transition: transform .3;
}

section ul li:hover {
    transform: scale(1.1)
}

.games-list img { 
    width: 90px;
    border-radius: 8px;
}

.streamers-list img {
    width: 90px;
    border-radius: 50%;
    border: 2px solid #443E54;
}


/* Animação */
header div {
    animation: fromTop .7s;
}
@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px)
    }
        to {
            opacity: 1;
            transform: translateY(0)
        }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30)
    }
        to {
            opacity: 1;
            transform: translateY(0)
        }
}


/* PULSAÇÃO PARTE SEPARADA DO CURSO */
